<div class="container">
  <div class="row">
    <div class="col-mt-8">
      <h1>Ini adalah halaman lainnya</h1>
      <ul>
        <% waifus.forEach(waifu => { %>
        <li>Nama: <%= waifu.nama %> <br />From: <%= waifu.from %></li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
